html{
height:100%;
}

body{
height:100%;
background:#ddd;
font-family:"Courier New", Courier, monospace;
margin: 0 2%;
padding:0;
font-weight:normal;
font-size:12px;
overflow:hidden;
}

#container{
overflow:hidden;
height:88%;
padding:2px 10px ;
margin:20px 0 0 0;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-moz-box-shadow: 0 0 5px black;
-webkit-box-shadow: 0 0 5px black;
background:#fff;
}

.padHeader{
float:left;
margin:1% 0 0.2% 1%;
border:1px solid transparent;
width:48%;
}

.editor{
padding:1px 5px;
border:1px solid lightgrey;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
display:inline;
background:yellow;
}

.avatar{float:left;}
.avatarInfo{
margin:20px 0 0 60px;
}

#uWriting, #aWriting{
display:none;
}

a:hover{
color:grey;
}

.pad{
float:left;
margin:1% 0 1% 1%;
width:48%;
height:84%;
border:dotted 1px lightgrey;
font-size:16px;
font-family:"Courier New", Courier, monospace;
white-space:pre-wrap;
text-transform:lowercase;
}
#antonypad{
text-transform:uppercase;
overflow-y:auto;
}
.pad .caret{
background:#000;
}


#footer{
margin:10px 0;
text-align:center;
}

#aboutMoreBox{
display:none;
width:100%;
position:absolute;
top:40%;
left:0;
}

#aboutMore{
line-height:1.6em;
background:#E3E3E3;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
cursor:pointer;
color:black;
margin:0 auto;
width:40%;
padding:10px;
font-size:12px;
}

.cite{
font-size:15px;
}

/* -------- more... -------- */
button{
background:#2F2F2F;
border:none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
cursor:pointer;
color:#ccc;
}
button:hover{
background:#000;
color:#fff;
}
a{
color:black;
text-decoration:underline;
margin-top:5px;
position:relative; 
}

a:hover, a:focus{ 
color:grey;
}

button:active, a:active{
color:black;
outline: none;
}
::selection {
	background: #00ff00; /* Safari */
	}
::-moz-selection {
	background: #00ff00; /* Firefox */
}
