
body{
background:#DDDDDD;
font-family:courier new, courier;
margin:2%;
padding:0;
font-weight:normal;
font-size:12px;
}


#container{
margin:2% 0 0 0;
padding:1%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-moz-box-shadow: 0 0 5px black;
-webkit-box-shadow: 0 0 5px black;
background:#ffffff;
}

.padHeader{
float:left;
margin:1% 0 0.2% 1%;
border:1px solid transparent;
width:48%;
}

.editor{
padding:1px 5px;
border:1px solid lightgrey;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
display:inline;
background:yellow;
}

a:hover{
color:grey;
}


textarea{
float:left;
margin:1% 0 1% 1%;
width:48%;
height:84%;
border:dotted 1px lightgrey;
font-size:16px;
}

#footer{
margin:10px 0;
text-align:center;
}


/* -------- more... -------- */

a{
color:grey;
margin-top:5px;
    position:relative; 
    text-decoration:none}

a:hover{ 
color:black;
    }


::selection {
	background: #00ff00; /* Safari */
	}
::-moz-selection {
	background: #00ff00; /* Firefox */
}


#creditfooter{display:none;}
