
body{
background:#DDDDDD;
font-family:courier new, courier;
margin:2%;
padding:0;
font-weight:normal;
font-size:12px;
overflow-x:hidden;
}


#container{
margin:2% 0 0 0;
padding:1%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-moz-box-shadow: 0 0 5px black;
-webkit-box-shadow: 0 0 5px black;
background:#ffffff;
}

.padHeader{
float:left;
margin:1% 0 0.2% 1%;
border:1px solid transparent;
width:48%;
}

.editor{
padding:1px 5px;
border:1px solid lightgrey;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
display:inline;
background:yellow;
}

.avatar{float:left;}
.avatarInfo{
margin:20px 0 0 60px;
}

#uWriting, #aWriting{
display:none;
}

a:hover{
color:grey;
}

textarea{
float:left;
margin:1% 0 1% 1%;
width:48%;
height:84%;
border:dotted 1px lightgrey;
font-size:16px;
}

#footer{
margin:10px 0;
text-align:center;
}

#aboutMore{
display:none;
position:absolute;
width:100%;
bottom:45px;
}

/* -------- more... -------- */
button{
background:lightgray;
border:none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
cursor:pointer;
border:solid lightgray 1px;
color:gray;
}
button:hover{
border:solid gray 1px;}
a{
color:black;
text-decoration:underline;
margin-top:5px;
position:relative; 
}

a:hover{ 
color:grey;
}

button:focus, a:focus{
color:black;
outline: none;
}
::selection {
	background: #00ff00; /* Safari */
	}
::-moz-selection {
	background: #00ff00; /* Firefox */
}

